<app-modal-shell [open]="open" title="Create New Ticket" (closed)="close()" [formGroup]="form">
  <label>
    <span>Title</span>
    <input type="text" formControlName="title" placeholder="Brief description of your request" />
    <app-form-error [control]="form.get('title')"></app-form-error>
  </label>

  <label>
    <span>Description</span>
    <textarea
      formControlName="description"
      rows="6"
      placeholder="Detailed description of what you need..."
    ></textarea>
    <app-form-error [control]="form.get('description')"></app-form-error>
  </label>
  <label>
    <span>Deadline</span>
    <input type="date" formControlName="deadline" placeholder="mm/dd/yyyy" />
    <app-form-error [control]="form.get('deadline')"></app-form-error>
  </label>
  <div modal-footer>
    <button class="secondary" [disabled]="submitting" (click)="close()">Cancel</button>
    <app-split-button
      [options]="ticketSubmitOptions"
      [disabled]="submitting"
      (actionExecuted)="submit($event)"
    >
    </app-split-button>
  </div>
</app-modal-shell>
